.error-alert>ul {
  list-style: none;
}

.error-message {
  color: red;
}

/* タブレット表示時 */
@media (max-width: 1024px) {
  .error-message {
    font-size: 17px;
  }
}

/* スマホ表示時 */
@media (max-width: 599px) {
  .error-message {
    font-size: 12px;
  }
}