.top-page-footer {
  background-color: rgb(45, 48, 48);
  padding: 2vh 10vw;
  height: 150px;
  width: 100vw;
}

.upper-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2vh;
}

.footer-btn {
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.lower-footer {
  display: flex;
  justify-content: center;
  margin-bottom: 2vh;
}

.footer-list {
  display: flex;
}

.footer-list li {
  list-style: none;
}

.footer-link {
  margin-right: 2vw;
  font-size: 12px;
  text-decoration: none;
  color: rgb(204, 198, 198);
}

footer p {
  text-align: center;
  color: rgb(204, 198, 198);
  font-size: 12px;
}

/* タブレット表示時 */
@media (max-width: 1024px) {
  .top-page-footer {
    height: 186px;
  }
}

/* スマホ表示時 */
@media (max-width: 599px) {
  .top-page-footer {
    padding: 2vh 2vw;
    height: 120px;
  }

  .upper-footer {
    margin-bottom: 1vh;
  }

  .footer-btn {
    font-size: 15px;
  }

  .lower-footer {
    margin-bottom: 1vh;
  }

  .footer-link {
    margin-right: 2vw;
    font-size: 10px;
  }

  footer p {
    font-size: 8px;
  }
}
