.main {
  // 本番環境チェック
  padding: 20px;
  background-image: image-url('image_foods3');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

.contents {
  // 後でチェック
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;

}

.title {
  width: 30%;
  font-size: 3vh;
  text-align: center;
  margin: 5vh 0;
  color: rgb(41, 38, 38);
}
.foods-list {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  list-style: none;
}

.food-link {
  text-decoration: none;
  color: rgb(41, 38, 38);
}

.food {
  border-bottom: 1px solid #f58e44;
  margin: 7px 0 7px;
}

.food-link {
  display: flex;
}

.name {
  width: 15vw;
}

.number {
  width: 10vw;
}

.dummy-text {
  display: flex;
  border-bottom: 1px solid rgba(210, 105, 30, 0.534);
  margin: 7px 0 7px;
  color: rgb(161, 158, 158);
}

.new-btn {
  width: 7vw;
  height: 7vh;
  position: fixed;
  bottom: 32px;
  right: 32px;
  background-color: #fdd62a;
  display: flex;
  justify-content: center;
  align-items: center;
}

.new-food-btn {
  text-decoration: none;
  color: white;
}