// index.scssを引用
// 以下search.html.erbの変更箇所

.search-back {
  margin-top: 20px;
}

.search-back-btn {
  text-decoration: none;
  color: rgb(59, 56, 56);
  text-align: center;
}

/* タブレット表示時 */
// index.scssを引用

/* スマホ表示時 */
@media (max-width: 599px) {
  .search-back {
    margin-top: 10px;
  }
  
  .search-back-btn {
    font-size: 13px;
  }
}